.table {
    width: 1000px;
    margin: 0 auto;
}
.tableItem {
    display: flex;
    justify-content: space-between;
}
.tableItem div {
    width: 250px;
    background-color: powderblue;
    border: 1px solid white;
}
.tableHeader {
    padding: 5px;
    background-color: bisque;
}
.tableHeader div {
    border: none;
    background-color: bisque;
}
.buttonsDiv {
    display: flex;
    justify-content: space-around;
}